<h1>Bem-vindo ao PortaChat!</h1>

<p>
  Olá <%= @user.name %>, bem-vindo ao PortaChat! Estamos felizes em tê-lo conosco.
</p>
<p>
  Para começar a usar o PortaChat, você pode acessar sua conta através do seguinte link:
</p>
<p>
  Sua Senha Temporária: <strong><%= @password %></strong>
</p>
